.container {
  border-top: 1px solid #f3f6f8;
}
.navbar {
  padding: 10px 50px;
  line-height: 75px;
}
.navbar a {
  color: #000;
}
.navbar-left img {
  height: 75px;
}
.navbar-left span {
  padding-left: 10px;
}
.navbar-right {
  text-align: right;
}
.navbar-form,
.navbar-form input {
  display: inline;
  width: 200px;
}
.navbar-form input {
  margin-right: 30px;
}
.main {
  background: #f3f6f8;
  padding: 20px 10px;
}
.listings {
  margin-top: 20px;
  text-align: center;
}
.listings a {
  color: #21bedb;
}
.toc_section {
  text-align: left;
}
.toc_section h3 {
  font-size: 120%;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.toc_section h3 a {
  color: #000;
  text-decoration: none;
}
.toc_section h4 {
  font-size: 90%;
  text-transform: uppercase;
}
.landing {
  text-align: center;
}
.landing h1 {
  font-weight: normal;
  margin-bottom: 20px;
}
.centersearch {
  width: 400px;
  height: 40px;
  margin: 0px auto;
}
.search-results {
  margin: 0px auto;
  margin-top: 20px;
  padding: 10px;
}
.highlight {
  background: #ff0;
}
.result-body {
  padding-left: 10px;
}
.toc_section ul {
  list-style-type: none;
  padding-left: 0px;
}
.toc_section ul li {
  margin-top: 3px;
}
.toggle_toc {
  color: #000;
}
.left_nav {
  background: #f3f6f8;
  padding: 2rem 2rem 2rem 4rem;
}
.left_nav p {
  padding-bottom: 15px;
  word-wrap: break-word;
}
.left_nav ul {
  padding-left: 15px;
}
.left_nav h4 {
  padding-top: 10px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 100%;
}
.left_nav .current_article {
  font-weight: bold;
}
.left_nav .still_need_help {
  text-indent: 10px;
}
.article {
  background: #fff;
}
.breadcrumbs {
  margin-top: 10px;
  margin-bottom: 10px;
}
