@-webkit-viewport {
  width: device-width;
  zoom: 1;
}
@-moz-viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@-o-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
[hidden],
template {
  display: none;
}
html,
body {
  min-height: 100%;
}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection:window-inactive {
  background: #e5e5e5;
}
img::selection,
img::-moz-selection {
  background: transparent;
}
a {
  background: transparent;
  color: #2e8ad0;
  cursor: pointer;
  text-decoration: none;
/* Improve readability when focused or hovered in all browsers */
/* Address `outline` inconsistency between Chrome and other browsers */
}
a.muted {
  color: #777;
  text-decoration: underline;
}
a.muted:hover {
  text-decoration: none;
}
a.smallbold {
  font-weight: 600;
  font-size: 0.9rem;
}
a:hover {
  text-decoration: underline;
}
a:active,
a:hover {
  outline: 0;
}
a:focus {
  outline: thin dotted;
}
a.uppercase {
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.85rem;
  font-weight: 600;
}
a.uppercase:hover {
  text-decoration: none;
  color: #777;
}
a.subtle_icon {
  color: #aaa;
  text-decoration: none;
}
a.subtle_icon:hover {
  color: #777;
}
html {
  font-size: 75%;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 81.25%;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 87.5%;
  }
}
body {
  margin: 0;
/* 1 */
  color: #444;
  font-size: 1rem;
/* 2 */
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
/* 3 */
}
b,
strong {
  font-weight: 600;
  color: #444;
}
blockquote,
dl,
figure,
hr,
menu,
ol,
p,
pre,
summary,
table,
ul {
  margin: 0 0 1rem;
}
dl dt {
  color: #222;
  font-weight: 700;
}
dl dd {
  margin: 0 0 1rem;
}
em,
i,
cite {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75rem;
  color: #222;
  font-weight: 600;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
small {
  display: inline-block;
  font-size: 87.5%;
/* 1 */
  line-height: 1.333;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.caps {
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
}
.label {
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-radius: 2px;
  font-size: 0.8rem;
  background-color: #efefef;
}
.label.error {
  background-color: #c12f2e;
  color: #fff;
}
.label.info {
  background-color: #1fa3ec;
  color: #fff;
}
.label.warning {
  background-color: #ffd119;
  color: #333;
}
.dropdown_menu a:hover .status {
  color: #fff !important;
}
nav ul,
nav ol,
ul.unstyled,
ol.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.inline li,
ol.inline li {
  display: inline;
  margin-right: 0.5rem;
}
ul.inline li:last-child,
ol.inline li:last-child {
  margin-right: 0;
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ol ol,
ol ul,
ul ul,
ul ol {
  margin-bottom: 0;
}
ul.secondary_nav {
  font-size: 0.9rem;
  font-weight: 600;
}
ul.secondary_nav li {
  display: inline;
  margin-right: 1.5rem;
}
ul.secondary_nav li > span {
  color: #aaa;
}
ul.secondary_nav li.active a {
  color: #444;
}
ul.secondary_nav li.active a:hover {
  text-decoration: none;
}
ul.secondary_nav li:last-child {
  margin-right: 0;
}
ul.secondary_nav.muted {
  font-size: 0.8rem;
  line-height: 1.8;
}
ul.secondary_nav.muted li {
  margin-right: 1rem;
}
ul.secondary_nav.muted li:last-child {
  margin-right: 0;
}
ul.secondary_nav.muted li a {
  color: #777;
}
ul.small_labels {
  font-size: 0.85rem;
}
ul.small_labels li a {
  color: inherit;
}
ul.small_labels li:before {
  font-family: 'FontAwesome';
  content: '\f0c8';
  font-size: 1.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.breadcrumb_wrapper {
  background-color: #efefef;
  background: linear-gradient(#efefef, #e8e8e8);
  border-bottom: 1px solid #e5e5e5;
  height: 25px;
}
ul.breadcrumb {
  margin: 0 auto;
  width: 90%;
  max-width: 1150px;
  position: relative;
  line-height: 22px;
  font-size: 0.8rem;
  padding-top: 1px;
}
ul.breadcrumb li {
  display: none;
}
ul.breadcrumb li:after {
  content: '\f105';
  font-family: 'FontAwesome';
  margin: 0 0.5rem;
  color: #777;
}
ul.breadcrumb li:last-child:after {
  content: '';
  margin: 0;
}
ul.breadcrumb li a {
  color: #444;
}
ul.breadcrumb li span {
  font-weight: 600;
  color: #444;
}
ul.breadcrumb li:nth-last-child(2),
ul.breadcrumb li:last-child {
  display: inline;
}
@media only screen and (min-width: 640px) {
  ul.breadcrumb li {
    display: inline;
  }
}
.pagination-wrapper {
  font-size: 13px;
  text-align: center;
  margin-top: 2rem;
}
.pagination-wrapper ul {
  display: inline-block;
}
.pagination-wrapper ul li {
  display: inline;
}
.pagination-wrapper ul li > a,
.pagination-wrapper ul li > span {
  display: block;
  float: left;
  padding: 4px 5px;
  min-width: 30px;
  background-color: #eee;
  text-decoration: none;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
.pagination-wrapper ul li.active a {
  background-color: #ddd;
  color: #333;
  font-weight: 600;
}
.pagination-wrapper ul li a:hover {
  background-color: #ddd;
}
.pagination-wrapper ul li:last-child a,
.pagination-wrapper ul li:last-child span {
  border-radius: 0 3px 3px 0;
  min-width: 25px;
}
.pagination-wrapper ul li:first-child a,
.pagination-wrapper ul li:first-child span {
  border-radius: 3px 0 0 3px;
  border-left-width: 1px;
  min-width: 25px;
}
.pagination-wrapper.page-header-pagination-wrapper {
  margin-top: 0;
}
.pagination-wrapper.page-header-pagination-wrapper .pagination_status {
  float: left;
  line-height: 30px;
}
.pagination-wrapper.page-header-pagination-wrapper .pagination_status a {
  font-weight: 600;
}
.pagination-wrapper.page-header-pagination-wrapper ul {
  float: left;
  margin: 0;
  padding: 0 0 0 1rem;
}
@media only screen and (min-width: 640px) {
  .page-header-pagination-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
}
code,
pre {
  color: #444;
  font-family: Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;
  font-size: 75%;
}
code {
  padding: 0 0.3rem;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #f7f7f7;
  white-space: nowrap;
}
@media only screen and (min-width: 480px) {
  code {
    padding: 0.1rem 0.3rem;
  }
}
pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  background: #222;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
  color: #ccc;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
}
audio,
canvas,
video {
  display: inline-block;
}
audio,
video {
  width: 100%;
}
img {
  border: 0;
/* 1 */
  vertical-align: middle;
/* 2 */
}
img,
video {
  max-width: 100%;
  width: auto 9;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  margin: 0;
/* 1 */
  font-size: 1rem;
/* 2 */
  font-family: inherit;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
/* 2 */
  -webkit-appearance: button;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
select,
textarea {
  display: block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 2px;
}
input.error,
select.error,
textarea.error {
  border-color: #c12f2e;
}
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: #ccc;
  background-color: #f7f7f7;
}
.error input,
.error select,
.error textarea {
  border-color: #c12f2e;
}
input[type="checkbox"],
input[type="image"],
input[type="radio"],
input[type="file"] {
  display: inline-block;
  width: auto;
  cursor: pointer;
  border: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  margin: 0 0.422rem 0.238rem 0;
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-box-sizing: content-box;
/* 1 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
/* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  width: auto;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
}
label.checkbox,
label.radio {
  display: block;
  font-weight: normal;
  font-size: 1rem;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
  resize: vertical;
/* 3 */
}
label.required > abbr {
  color: #c12f2e;
  font-size: 0.8rem;
}
select.datetime {
  width: auto;
  display: inline;
}
input[type="checkbox"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 7px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:active,
input[type="checkbox"]:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type="checkbox"]:checked:after {
  font-family: 'FontAwesome';
  content: '\f00c';
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #2e8ad0;
}
input[type="checkbox"].readonly,
input[type="checkbox"].disabled {
  opacity: 0.5;
}
input[type="radio"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 7px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
input[type="radio"]:active,
input[type="radio"]:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type="radio"].readonly,
input[type="radio"].disabled {
  opacity: 0.5;
}
input[type="radio"]:checked:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #2e8ad0;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: 0;
}
.help-block {
  font-size: 0.85rem;
  margin: 0.25rem 0 0 0;
}
.datetime_input_clear_wrapper {
  clear: both;
}
.datetime_input_clear {
  font-size: 0.85rem;
}
form .grid {
  margin-bottom: 1rem;
}
form .horizontal_label_item {
  margin-top: 0.15rem;
}
.form_actions {
  background-color: #efefef;
  padding: 1rem;
  margin-top: 2rem;
}
input[type="text"].large {
  font-size: 1.5rem;
}
@media only screen and (min-width: 640px) {
  form .horizontal_label_item {
    text-align: right;
    padding-right: 1.5rem;
  }
  .form_actions.horizontal {
    padding-left: 24.99999%;
  }
}
.input_group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input_group > .button {
  width: 1%;
  display: table-cell;
}
.input_group > input {
  display: table-cell;
  width: 100%;
}
.input_group :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input_group :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
form .error_message {
  font-size: 0.85rem;
  background-color: #c12f2e;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 4px 0 0 0;
  display: inline-block !important;
}
form .item {
  position: relative;
}
.select_wrapper {
  height: 28px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  vertical-align: middle;
}
.select_wrapper:after {
  font-family: 'FontAwesome';
  content: '\f0d7';
  position: absolute;
  top: 3px;
  right: 10px;
  color: #777;
  pointer-events: none;
}
.select_wrapper select {
  background: transparent;
  width: 100%;
  padding: 2px 28px 0px 14px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 0;
  height: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
.select_wrapper .as_indicator {
  right: -30px;
}
.datetime_input_wrapper .input_group {
  width: 120px;
  float: left;
  margin-right: 10px;
}
.input_with_clipboard_button {
  position: relative;
}
.input_with_clipboard_button input[type=text] {
  padding-right: 24px;
}
.input_with_clipboard_button .clipboard_button {
  position: absolute;
  top: 2px;
  right: 2px;
}
.input_text {
  margin-top: 0.25rem;
}
table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
/* 1 */
  border-collapse: collapse;
/* 1 */
  empty-cells: show;
  font-size: 0.9rem;
  word-break: break-word;
}
table th,
table tfoot td {
  color: #222;
  text-align: left;
  font-weight: bold;
}
table thead th,
table tfoot td {
  background-color: #efefef;
}
table thead th {
  color: #444;
  font-size: 0.9rem;
  font-weight: 600;
  word-break: normal;
}
table th,
table td {
  overflow: visible;
  padding: 1rem;
  vertical-align: top;
}
table.condensed th,
table.condensed td {
  padding: 0.5rem;
}
table.vertical_middle th,
table.vertical_middle td {
  vertical-align: middle;
}
table th.sortable a {
  color: #444;
}
table th.sortable a i {
  color: #777;
  margin-left: 0.25rem;
  font-size: 1rem;
}
table th.sortable a:hover {
  text-decoration: none;
}
table.border {
  border: 1px solid #e5e5e5;
}
table.border_all th,
table.border_all td {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
table.border_rows th,
table.border_rows td {
  border-top: 1px solid #e5e5e5;
}
table.border_cols th,
table.border_cols td {
  border-left: 1px solid #e5e5e5;
}
table.border_cols tr th:first-child,
table.border_cols tr td:first-child {
  border-left: 0;
}
table.border.border_all thead:first-child tr:first-child th,
table.border.border_all thead:first-child tr:first-child td,
table.border.border_rows thead:first-child tr:first-child th,
table.border.border_rows thead:first-child tr:first-child td {
  border-top: 0;
}
table.border_all tr th:first-child,
table.border_all tr td:first-child {
  border-left: 0;
}
table.border_all tr:first-child th,
table.border_all thead:first-child tr:first-child th {
  border-top: 0;
}
table.border_rows tr:last-child td {
  border-bottom: 1px solid #e5e5e5;
}
table.stripes tbody > tr:nth-child(even) {
  background-color: #f7f7f7;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
}
.ninety_wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1150px;
  position: relative;
}
.page_card {
  margin: 0 auto;
  width: 90%;
  max-width: 1150px;
  padding-top: 100px;
  padding-bottom: 25px;
}
#site_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
#push {
  height: 70px;
}
.island {
  margin: 0 0 1rem;
  padding: 1rem;
  background: #efefef;
}
.invisible_island {
  padding: 1rem 1rem 0 1rem;
}
.page_header {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.25rem;
  position: relative;
}
.page_header h2,
.page_header h3 {
  margin-bottom: 0;
}
.page_header h2 {
  float: left;
}
.page_header h2 a {
  color: #222;
  text-decoration: none;
}
.page_header h3 {
  font-weight: 500;
  color: #aaa;
  font-size: 1.3rem;
  margin-top: 0.3rem;
}
.page_header ul.secondary_nav {
  float: left;
  margin: 0.5rem 0 0;
  padding-left: 2rem;
}
.page_header ul.secondary_nav.muted {
  float: right;
}
.project_page_header {
  position: relative;
}
.project_page_header a.label {
  position: relative;
  top: -3px;
}
.sidebar_box {
  background-color: #efefef;
  border: 3px solid #f7f7f7;
  padding: 1rem;
}
.sidebar_box hr {
  margin: 0.75rem 0;
}
.sidebar_section {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.sidebar_section h4 {
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.2rem;
}
ul.sidebar_data {
  padding: 0 1rem;
  margin: -0.5rem 0;
}
ul.sidebar_data > li {
  border-bottom: 1px solid #e5e5e5;
  padding: 0.75rem 0;
}
ul.sidebar_data > li:last-of-type {
  border-bottom: 0;
}
ul.sidebar_data > li .left_side {
  float: left;
  width: 25px;
  padding-top: 0.5rem;
  text-align: center;
}
ul.sidebar_data > li .left_side i {
  font-size: 26px;
  color: #777;
}
ul.sidebar_data > li .right_side {
  margin-left: 45px;
}
.sidebar_data_label {
  font-size: 0.9rem;
}
.sidebar_data_value {
  font-size: 1.1rem;
  color: #999;
  font-weight: 600;
}
.sidebar_data_additional_text {
  font-size: 0.9rem;
  color: #999;
}
.dropdown {
  position: relative;
}
span.dropdown {
  display: inline-block;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-clip: padding-box;
}
.dropdown_menu.dropdown_right {
  right: 0;
  left: auto;
}
.dropdown_menu > li > a,
.dropdown_menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  white-space: nowrap;
}
.dropdown_menu > li > a {
  color: #333;
}
.dropdown_header {
  padding: 5px 20px 1px;
  color: #aaa;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
}
.dropdown_menu > li > a:hover,
.dropdown_menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #428bca;
}
.dropdown_menu > .active > a,
.dropdown_menu > .active > a:hover,
.dropdown_menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown_menu > .disabled > a,
.dropdown_menu > .disabled > a:hover,
.dropdown_menu > .disabled > a:focus {
  color: #ccc;
}
.dropdown_menu > .disabled > a:hover,
.dropdown_menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}
.open > .dropdown_menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown_backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.modal_dialog {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050;
}
.modal_content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal_header {
  padding: 1.5rem 2rem;
  border-radius: 4px 4px 0 0;
  position: relative;
}
.modal_header h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  color: #333;
}
.modal_header .close {
  position: absolute;
  top: -9px;
  right: -9px;
  color: #fff;
  background-color: #444;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
.modal_header .close:hover {
  background-color: #4d4d4d;
}
.modal_title {
  margin: 0;
  line-height: 20px;
}
.modal_body {
  position: relative;
  padding: 0 2rem 1.5rem;
}
.modal_footer {
  background-color: #efefef;
  padding: 1rem 2rem;
  text-align: right;
  border-radius: 0 0 5px 5px;
}
.modal_footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal_footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal_footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal_confirm .modal_header {
  padding: 1rem 2rem;
  background-color: #c12f2e;
  margin-bottom: 1rem;
}
.modal_confirm .modal_header h3 {
  color: #fff;
}
.modal_confirm .modal_body p {
  font-size: 1.1rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .modal_dialog {
    left: 50%;
    right: auto;
    width: 600px;
    padding-top: 70px;
  }
}
.progress {
  border: 1px solid #aaa;
  margin: 0.25rem 0;
  padding: 2px;
  background: #fff;
}
.progress_bar {
  background: #6188f5;
  height: 16px;
  max-width: 100%;
}
.grid {
  margin: 0;
  margin-left: -2rem;
/* 1 */
  padding: 0;
  list-style: none;
/* 2 */
  font-size: 0;
/* 3 */
}
.grid.gutter_none {
  margin-left: 0;
}
.grid.gutter_none > .item {
  padding-left: 0;
}
.grid.gutter_quarter {
  margin-left: -0.5rem;
}
.grid.gutter_quarter > .item {
  padding-left: 0.5rem;
}
.grid.gutter_half {
  margin-left: -1rem;
}
.grid.gutter_half > .item {
  padding-left: 1rem;
}
.grid.gutter_double {
  margin-left: -4rem;
}
.grid.gutter_double > .item {
  padding-left: 4rem;
}
.item {
  display: inline-block;
  padding-left: 2rem;
/* 1 */
  vertical-align: top;
/* 2 */
  font-size: 1rem;
/* 3 */
  width: 100%;
}
.one_column {
  width: 8.333%;
}
.two_columns {
  width: 16.666%;
}
.three_columns {
  width: 24.999000000000002%;
}
.four_columns {
  width: 33.332%;
}
.five_columns {
  width: 41.665%;
}
.six_columns {
  width: 49.998000000000005%;
}
.seven_columns {
  width: 58.331%;
}
.eight_columns {
  width: 66.664%;
}
.nine_columns {
  width: 74.997%;
}
.ten_columns {
  width: 83.33%;
}
.eleven_columns {
  width: 91.663%;
}
.twelve_columns {
  width: 99.99600000000001%;
}
@media only screen and (min-width: 640px) {
  .lap_one_column {
    width: 8.333%;
  }
  .lap_two_columns {
    width: 16.666%;
  }
  .lap_three_columns {
    width: 24.999000000000002%;
  }
  .lap_four_columns {
    width: 33.332%;
  }
  .lap_five_columns {
    width: 41.665%;
  }
  .lap_six_columns {
    width: 49.998000000000005%;
  }
  .lap_seven_columns {
    width: 58.331%;
  }
  .lap_eight_columns {
    width: 66.664%;
  }
  .lap_nine_columns {
    width: 74.997%;
  }
  .lap_ten_columns {
    width: 83.33%;
  }
  .lap_eleven_columns {
    width: 91.663%;
  }
  .lap_twelve_columns {
    width: 99.99600000000001%;
  }
}
@media only screen and (min-width: 960px) {
  .desk_one_column {
    width: 8.333%;
  }
  .desk_two_columns {
    width: 16.666%;
  }
  .desk_three_columns {
    width: 24.999000000000002%;
  }
  .desk_four_columns {
    width: 33.332%;
  }
  .desk_five_columns {
    width: 41.665%;
  }
  .desk_six_columns {
    width: 49.998000000000005%;
  }
  .desk_seven_columns {
    width: 58.331%;
  }
  .desk_eight_columns {
    width: 66.664%;
  }
  .desk_nine_columns {
    width: 74.997%;
  }
  .desk_ten_columns {
    width: 83.33%;
  }
  .desk_eleven_columns {
    width: 91.663%;
  }
  .desk_twelve_columns {
    width: 99.99600000000001%;
  }
}
.button {
  display: inline-block;
  margin: 0;
  padding: 0.563rem 0.844rem;
  border: 0 none;
  background: #e5e5e5;
  color: #444;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  white-space: nowrap;
/* Sizes */
/* States */
}
.button.uppercase {
  border: 0 !important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.button.loading {
  opacity: 0.65;
  cursor: default !important;
}
.button.arrow_l:before {
  content: "\f0d9";
  font-family: 'FontAwesome';
  margin-right: 0.5rem;
}
.button.arrow:after {
  content: "\f0da";
  font-family: 'FontAwesome';
  margin-left: 1rem;
}
.button.arrow.loading:after {
  display: none;
}
.button.arrow.loading i {
  margin-left: 0.5rem;
}
.button.long_arrow:after {
  content: "\f178";
  font-family: 'FontAwesome';
  margin-left: 1rem;
}
.button.primary {
  background: #e75845;
  color: #fff;
  border: 1px solid #e4402a;
}
.button.primary:hover {
  background: #e4402a;
  color: #fff;
}
.button.success {
  background: #2aa828;
  color: #fff;
  border: 1px solid #269724;
}
.button.success:hover {
  background: #269724;
  color: #fff;
}
.button.error {
  background: #c12f2e;
  color: #fff;
  border: 1px solid #ae2a29;
}
.button.error:hover {
  background: #ae2a29;
  color: #fff;
}
.button.info {
  background: #1fa3ec;
  color: #fff;
  border: 1px solid #1395de;
}
.button.info:hover {
  background: #1395de;
  color: #fff;
}
.button.white {
  background: #fff;
  font-weight: 600;
  border: 1px solid #e6e6e6;
  color: #333;
}
.button.white:hover {
  background: #f2f2f2;
  color: #333;
}
.button.darker_gray {
  background: #ccc;
  font-weight: 600;
  border: 1px solid #b8b8b8;
  color: #333;
}
.button.darker_gray:hover {
  background: #c2c2c2;
  color: #333;
}
.button.light_gray {
  background: #eeeff0;
  font-weight: 600;
  border: 1px solid #d5d7da;
  color: #6a6e75;
}
.button.light_gray:hover {
  background: #e1e3e5;
  color: #6a6e75;
}
.button.gray {
  background: #efefef;
  font-weight: 600;
  border: 1px solid #d7d7d7;
  color: #333;
}
.button.gray:hover {
  background: #e3e3e3;
  color: #333;
}
.button.teal {
  background: #3bccaf;
  color: #fff;
  border: 1px solid #31bca0;
}
.button.teal:hover {
  background: #31bca0;
  color: #fff;
}
.button:hover {
  background: #ccc;
  text-decoration: none;
}
.button:active {
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
.button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.button.mini {
  padding: 0.238rem 0.563rem;
  font-size: 0.8125rem;
}
.button.small {
  padding: 0.317rem 0.75rem;
  font-size: 0.875rem;
}
.button.large,
.button.block {
  padding: 1rem 1.333rem;
  font-size: 1.125rem;
  line-height: 1.333;
}
.button.block {
  display: block;
}
.button[disabled],
.button.disabled,
.button.disabled:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  cursor: default !important;
}
.dropdown_toggle_button {
  position: relative;
  padding-right: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  font-weight: 600;
  padding: 0.317rem 2rem 0.317rem 1rem;
  font-size: 0.875rem;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2rem;
  color: #444;
}
.dropdown_toggle_button.disabled {
  opacity: 0.7;
  cursor: default;
}
.dropdown_toggle_button:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}
.dropdown_toggle_button:after {
  font-family: 'FontAwesome';
  content: '\f0d7';
  position: absolute;
  top: 4px;
  right: 10px;
  color: #777;
  pointer-events: none;
}
.dropdown_toggle_button.gray {
  background-color: #efefef;
  color: #444;
}
.dropdown_toggle_button.gray:hover {
  background-color: #e5e5e5;
}
.dropdown_toggle_button.gray:hover.disabled {
  background-color: #efefef;
}
.open .dropdown_toggle_button {
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
  background-color: #f7f7f7;
}
.open .dropdown_toggle_button.gray {
  background-color: #e5e5e5;
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.6;
  opacity: 0;
  visibility: visible;
  min-width: 40px;
}
.tooltip.in {
  opacity: 0.9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px;
}
.align_left {
  float: left !important;
}
.align_center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.align_right {
  float: right !important;
}
.align_none {
  float: none !important;
}
.margin_tn {
  margin-top: 1rem !important;
}
.margin_rn {
  margin-right: 1rem !important;
}
.margin_bn {
  margin-bottom: 1rem !important;
}
.margin_ln {
  margin-left: 1rem !important;
}
.margin_th {
  margin-top: 0.5rem !important;
}
.margin_rh {
  margin-right: 0.5rem !important;
}
.margin_bh {
  margin-bottom: 0.5rem !important;
}
.margin_lh {
  margin-left: 0.5rem !important;
}
.margin_tq {
  margin-top: 0.25rem !important;
}
.margin_rq {
  margin-right: 0.25rem !important;
}
.margin_bq {
  margin-bottom: 0.25rem !important;
}
.margin_lq {
  margin-left: 0.25rem !important;
}
.margin_td {
  margin-top: 2rem !important;
}
.margin_rd {
  margin-right: 2rem !important;
}
.margin_bd {
  margin-bottom: 2rem !important;
}
.margin_ld {
  margin-left: 2rem !important;
}
.margin_none {
  margin: 0 !important;
}
.padding_top {
  padding-top: 1rem !important;
}
.padding_right {
  padding-right: 1rem !important;
}
.padding_bottom {
  padding-bottom: 1rem !important;
}
.padding_left {
  padding-left: 1rem !important;
}
.padding_none {
  padding: 0 !important;
}
.text_left {
  text-align: left !important;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}
.text_justify {
  text-align: justify !important;
}
.font_huge,
.font_xxl,
.font_xl,
.font_large,
.font_medium,
.font_normal,
.font_smaller,
.font_small {
  color: inherit;
  font-weight: inherit;
}
.font_huge,
.font_xxl {
  line-height: 1.333 !important;
}
.font_huge {
  font-size: 4.209rem !important;
}
.font_xxl {
  font-size: 3.157rem !important;
}
.font_xl {
  font-size: 2.369rem !important;
}
.font_large {
  font-size: 1.777rem !important;
}
.font_medium {
  font-size: 1.333rem !important;
}
.font_normal {
  font-size: 1rem !important;
}
.font_smaller {
  font-size: 0.9rem !important;
}
.font_small {
  font-size: 0.8rem !important;
}
.font_thin {
  font-weight: 300;
}
.weight_normal {
  font-weight: normal;
}
.font_muted {
  color: #777;
}
.desk_show,
.lap_show,
.desk_show_i,
.lap_show_i,
.desk_show_ib,
.lap_show_ib {
  display: none !important;
}
@media only screen and (min-width: 640px) {
  .lap_align_left {
    float: left !important;
  }
  .lap_align_center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .lap_align_right {
    float: right !important;
  }
  .lap_align_none {
    float: none !important;
  }
  .lap_margin_tn {
    margin-top: 1rem !important;
  }
  .lap_margin_rn {
    margin-right: 1rem !important;
  }
  .lap_margin_bn {
    margin-bottom: 1rem !important;
  }
  .lap_margin_ln {
    margin-left: 1rem !important;
  }
  .lap_margin_th {
    margin-top: 0.5rem !important;
  }
  .lap_margin_rh {
    margin-right: 0.5rem !important;
  }
  .lap_margin_bh {
    margin-bottom: 0.5rem !important;
  }
  .lap_margin_lh {
    margin-left: 0.5rem !important;
  }
  .lap_margin_tq {
    margin-top: 0.25rem !important;
  }
  .lap_margin_rq {
    margin-right: 0.25rem !important;
  }
  .lap_margin_bq {
    margin-bottom: 0.25rem !important;
  }
  .lap_margin_lq {
    margin-left: 0.25rem !important;
  }
  .lap_margin_td {
    margin-top: 2rem !important;
  }
  .lap_margin_rd {
    margin-right: 2rem !important;
  }
  .lap_margin_bd {
    margin-bottom: 2rem !important;
  }
  .lap_margin_ld {
    margin-left: 2rem !important;
  }
  .lap_margin_none {
    margin: 0 !important;
  }
  .lap_padding_top {
    padding-top: 1rem !important;
  }
  .lap_padding_right {
    padding-right: 1rem !important;
  }
  .lap_padding_bottom {
    padding-bottom: 1rem !important;
  }
  .lap_padding_left {
    padding-left: 1rem !important;
  }
  .lap_padding_none {
    padding: 0 !important;
  }
  .lap_text_left {
    text-align: left !important;
  }
  .lap_text_center {
    text-align: center !important;
  }
  .lap_text_right {
    text-align: right !important;
  }
  .lap_text_justify {
    text-align: justify !important;
  }
  .lap_font_huge,
  .lap_font_xxl,
  .lap_font_xl,
  .lap_font_large,
  .lap_font_medium,
  .lap_font_normal,
  .lap_font_smaller,
  .lap_font_small {
    color: inherit;
    font-weight: inherit;
  }
  .lap_font_huge,
  .lap_font_xxl {
    line-height: 1.333 !important;
  }
  .lap_font_huge {
    font-size: 4.209rem !important;
  }
  .lap_font_xxl {
    font-size: 3.157rem !important;
  }
  .lap_font_xl {
    font-size: 2.369rem !important;
  }
  .lap_font_large {
    font-size: 1.777rem !important;
  }
  .lap_font_medium {
    font-size: 1.333rem !important;
  }
  .lap_font_normal {
    font-size: 1rem !important;
  }
  .lap_font_smaller {
    font-size: 0.9rem !important;
  }
  .lap_font_small {
    font-size: 0.8rem !important;
  }
  .lap_font_thin {
    font-weight: 300;
  }
  .lap_weight_normal {
    font-weight: normal;
  }
  .lap_font_muted {
    color: #777;
  }
  .lap_hide {
    display: none !important;
  }
  .lap_show {
    display: block !important;
  }
  .lap_show_i {
    display: inline !important;
  }
  .lap_show_ib {
    display: inline-block !important;
  }
  th.lap_show,
  td.lap_show {
    display: table-cell !important;
  }
}
@media only screen and (min-width: 960px) {
  .desk_align_left {
    float: left !important;
  }
  .desk_align_center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .desk_align_right {
    float: right !important;
  }
  .desk_align_none {
    float: none !important;
  }
  .desk_margin_tn {
    margin-top: 1rem !important;
  }
  .desk_margin_rn {
    margin-right: 1rem !important;
  }
  .desk_margin_bn {
    margin-bottom: 1rem !important;
  }
  .desk_margin_ln {
    margin-left: 1rem !important;
  }
  .desk_margin_th {
    margin-top: 0.5rem !important;
  }
  .desk_margin_rh {
    margin-right: 0.5rem !important;
  }
  .desk_margin_bh {
    margin-bottom: 0.5rem !important;
  }
  .desk_margin_lh {
    margin-left: 0.5rem !important;
  }
  .desk_margin_tq {
    margin-top: 0.25rem !important;
  }
  .desk_margin_rq {
    margin-right: 0.25rem !important;
  }
  .desk_margin_bq {
    margin-bottom: 0.25rem !important;
  }
  .desk_margin_lq {
    margin-left: 0.25rem !important;
  }
  .desk_margin_td {
    margin-top: 2rem !important;
  }
  .desk_margin_rd {
    margin-right: 2rem !important;
  }
  .desk_margin_bd {
    margin-bottom: 2rem !important;
  }
  .desk_margin_ld {
    margin-left: 2rem !important;
  }
  .desk_margin_none {
    margin: 0 !important;
  }
  .desk_padding_top {
    padding-top: 1rem !important;
  }
  .desk_padding_right {
    padding-right: 1rem !important;
  }
  .desk_padding_bottom {
    padding-bottom: 1rem !important;
  }
  .desk_padding_left {
    padding-left: 1rem !important;
  }
  .desk_padding_none {
    padding: 0 !important;
  }
  .desk_text_left {
    text-align: left !important;
  }
  .desk_text_center {
    text-align: center !important;
  }
  .desk_text_right {
    text-align: right !important;
  }
  .desk_text_justify {
    text-align: justify !important;
  }
  .desk_font_huge,
  .desk_font_xxl,
  .desk_font_xl,
  .desk_font_large,
  .desk_font_medium,
  .desk_font_normal,
  .desk_font_smaller,
  .desk_font_small {
    color: inherit;
    font-weight: inherit;
  }
  .desk_font_huge,
  .desk_font_xxl {
    line-height: 1.333 !important;
  }
  .desk_font_huge {
    font-size: 4.209rem !important;
  }
  .desk_font_xxl {
    font-size: 3.157rem !important;
  }
  .desk_font_xl {
    font-size: 2.369rem !important;
  }
  .desk_font_large {
    font-size: 1.777rem !important;
  }
  .desk_font_medium {
    font-size: 1.333rem !important;
  }
  .desk_font_normal {
    font-size: 1rem !important;
  }
  .desk_font_smaller {
    font-size: 0.9rem !important;
  }
  .desk_font_small {
    font-size: 0.8rem !important;
  }
  .desk_font_thin {
    font-weight: 300;
  }
  .desk_weight_normal {
    font-weight: normal;
  }
  .desk_font_muted {
    color: #777;
  }
  .desk_hide {
    display: none !important;
  }
  .desk_show {
    display: block !important;
  }
  .desk_show_i {
    display: inline !important;
  }
  .desk_show_ib {
    display: inline-block !important;
  }
  th.desk_show,
  td.desk_show {
    display: table-cell !important;
  }
}
.none {
  color: #aaa;
}
.yes {
  color: #2aa828;
}
.no {
  color: #c12f2e;
}
.hidden {
  display: none !important;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}
.invisible {
  visibility: hidden;
}
.clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.readable_width {
  max-width: 600px;
}
.color_green {
  color: #2aa828;
}
.color_red {
  color: #c12f2e;
}
.cf:before,
.cf:after {
  display: table;
  content: " ";
}
.cf:after {
  clear: both;
}
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
/* 1 */
    text-shadow: none !important;
  }
  @page {
    margin: 0.5cm;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after,
  .ir a:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  blockquote,
  pre {
    border: 1px solid #777;
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  thead {
    display: table-header-group;
/* http://cbrac.co/Q6s1o2 */
  }
}
body {
  background-color: #2e2e2e;
}
.container {
  border-top: 1px solid #efefef;
  background-color: #fff;
}
input[type="search"] {
  padding-left: 10px;
}
.fa {
  vertical-align: baseline;
}
.capitalize {
  text-transform: capitalize;
}
#header {
  background-color: #fff;
}
.navbar {
  padding: 10px 0;
  height: 90px;
  width: 90%;
  margin: 0 auto;
}
.navbar a {
  color: #000;
  text-decoration: none;
}
.navbar-left,
.navbar-right {
  line-height: 70px;
}
.navbar-left {
  float: left;
}
.navbar-left img {
  height: 70px;
}
.navbar-left .brand {
  font-size: 1.2rem;
  padding-left: 10px;
}
.navbar-right {
  float: right;
  text-align: right;
}
.navbar-right a:hover {
  text-decoration: underline;
}
.navbar-form {
  position: relative;
  display: inline-block;
}
.navbar-form input {
  display: inline;
  width: 180px;
  height: 25px;
  padding-left: 28px;
}
@media only screen and (min-width: 640px) {
  .navbar-form input {
    width: 200px;
    margin-right: 20px;
  }
}
.navbar-form:after {
  position: absolute;
  top: 1px;
  left: 8px;
  content: "\f002";
  font-family: 'FontAwesome';
  color: #aaa;
}
.gray {
  color: #aaa;
}
.main {
  background: #f3f6f8;
  padding: 20px 10px;
}
.listings {
  text-align: center;
  max-width: 800px;
  margin: 1rem auto !important;
}
.listings .item {
  text-align: center;
}
.listings a {
  color: #21bedb;
}
.listings h3 {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
}
.listings h3 a {
  color: #000;
  text-decoration: none;
}
.listings h4 {
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  padding: 10px 0;
  margin-bottom: 0;
}
.listings ul {
  list-style: none;
  padding: 0.25rem 0 1rem;
}
.listings ul li {
  margin: 0.5rem 0 0;
}
@media only screen and (min-width: 640px) {
  .listings .item {
    text-align: left;
  }
}
.toc_section {
  text-align: left;
}
.toc_section h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
.landing {
  padding: 3rem 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.landing .or-browse {
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.landing .or-browse a {
  color: #21bedb;
}
.landing h1 {
  font-weight: normal;
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.landing .centersearch-form {
  max-width: 460px;
}
.centersearch-form {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
.centersearch-form .centersearch-input {
  height: 40px;
  padding-left: 36px;
  font-size: 1.1rem;
  margin-left: -18px;
}
.centersearch-form:after {
  position: absolute;
  font-size: 16px;
  top: 13px;
  left: -6px;
  content: "\f002";
  font-family: 'FontAwesome';
  color: #aaa;
}
@media only screen and (min-width: 640px) {
  .centersearch-form {
    width: auto;
    max-width: 400px;
  }
}
.search-results {
  margin: 2rem auto;
  width: 90%;
  max-width: 700px;
}
.search-results-loading {
  font-size: 40px;
  color: #aaa;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.no-search-results {
  height: 100px;
  text-align: center;
}
.no-search-results h3 {
  line-height: 60px;
  color: #777;
}
.results-count {
  text-align: center;
  padding-bottom: 1rem;
}
.results-count h3 {
  color: #777;
}
.result {
  margin-bottom: 1.5rem;
}
.highlight {
  background: #ff0;
}
.result-body {
  padding-left: 10px;
}
.toc_section ul {
  list-style: none;
  padding: 0.25rem 0 1rem;
}
.toc_section li {
  margin: 0.5rem 0 0;
}
.toggle_toc {
  color: #000;
}
.left_nav {
  background: #f3f6f8;
}
.left_nav .choose-app-text {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.left_nav #choose-app {
  height: 35px;
  font-weight: 600;
}
.left_nav a {
  color: #000;
  display: block;
  width: 100%;
  text-decoration: none;
}
.left_nav a.current_article,
.left_nav a:hover {
  color: #21bedb;
}
.left_nav a.current_article {
  font-weight: bold;
}
.left_nav p {
  padding-bottom: 15px;
  word-wrap: break-word;
}
.left_nav ul {
  padding-left: 15px;
  margin-bottom: 10px;
}
.left_nav h4 {
  padding: 10px 7px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 100%;
  margin-bottom: 0;
  position: relative;
}
.left_nav h4:hover,
.left_nav h4.active {
  background: #3bccaf;
  color: #fff;
}
.left_nav h4 .fa-chevron-down,
.left_nav h4 .fa-chevron-up {
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 10px;
}
.left_nav .still_need_help_container {
  background: #eaeef1;
  padding: 10px;
  margin-top: 2rem;
}
.left_nav .still_need_help {
  margin-top: 10px;
}
.left_nav .still_need_help a {
  text-transform: uppercase;
}
.left_nav .still_need_help i {
  margin-left: 10px;
}
.breadcrumbs {
  font-weight: 300;
  margin: 1rem 0 0.5rem;
}
.article-wrapper .left_nav {
  padding: 1rem 0;
}
.article-wrapper .left_nav .left_nav_toggle {
  width: 90%;
  margin: 0 auto;
  display: block;
  font-size: 1.2rem;
  color: #777;
}
.article-wrapper .left_nav .left_nav_toggle i {
  margin-right: 10px;
}
.article-wrapper .left_nav .left_nav_inner {
  width: 90%;
  margin: 0 auto;
  display: none;
}
.article-wrapper .left_nav.open .left_nav_inner {
  display: block;
}
@media only screen and (min-width: 960px) {
  .article-wrapper {
    display: table;
  }
  .article-wrapper .left_nav,
  .article-wrapper .article {
    display: table-cell;
  }
  .article-wrapper .left_nav {
    min-width: 300px;
    height: 100%;
    padding: 0 2rem 2rem;
  }
  .article-wrapper .left_nav .left_nav_toggle {
    display: none;
  }
  .article-wrapper .left_nav .left_nav_inner {
    display: block;
  }
  .article-wrapper .article {
    width: 100%;
    height: 100%;
  }
}
.article {
  background: #fff;
  padding: 1rem 2rem 2rem 2rem;
}
.article h1 {
  font-size: 2.2rem;
}
.article hr + h2 {
  margin-top: 0;
}
.article h2 {
  margin-top: 2rem;
}
.article h3 {
  font-weight: 500;
  font-size: 1.3rem;
}
.article .anchor {
  position: absolute;
  margin-left: -40px;
  padding-left: 20px;
  padding-right: 8px;
  vertical-align: middle;
}
.article .anchor :hover {
  color: #000;
}
.article .anchor i {
  font-size: 65%;
  color: #808080;
}
.article_toc {
  margin-top: 1.1rem;
}
.article_toc h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
}
.article_toc ol {
  padding-left: 0;
  list-style-position: inside;
  color: #21bedb;
}
.article_toc ol a {
  color: #21bedb;
}
.choose_article {
  margin-top: -1rem;
  font-size: 4rem;
}
.choose_article span {
  vertical-align: middle;
  font-size: 1rem;
}
footer {
  background: #2e2e2e;
  text-align: center;
  padding: 3rem 0 1.5rem;
}
footer .grid {
  max-width: 900px;
  margin: 0 auto;
}
footer .item {
  color: #fff;
  text-align: left;
}
footer h2 {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
footer ul {
  list-style-type: none;
  padding: 0 0 2rem;
}
footer ul li {
  margin-bottom: 1rem;
}
footer ul li a {
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none !important;
}
footer ul li a i {
  display: inline-block;
  width: 28px;
  font-size: 16px;
  text-align: center;
}
footer ul li a:hover {
  color: #21bedb;
}
footer ul li a:hover.fb {
  color: #2d5194;
}
footer ul li a:hover.gp {
  color: #db4738;
}
footer ul li a:hover.tw {
  color: #5caeeb;
}
footer ul li .status.up i {
  color: #008000;
}
footer ul li .status.partial i {
  color: #ff0;
}
footer ul li .status.major i {
  color: #f00;
}
footer ul li .service-status {
  padding: 0;
}
footer .contact ul {
  padding-bottom: 0;
}
pre {
  background: #eee;
  border: 1px solid #bbb;
  box-shadow: none;
  font-size: 120%;
  width: 60%;
  min-width: 30rem;
  padding: 1rem;
}
code {
  display: inline-block;
  border: 0;
  background: #eee;
  color: #32713e;
  backround: transparent;
  white-space: pre;
  padding: 0.1rem 0.2rem;
}
blockquote {
  padding: 0 1rem;
  color: #777;
  border-left: 4px solid #ddd;
}
