.container {
  border-top: 1px solid #f3f6f8;
}
input[type="search"] {
  padding-left: 10px;
}
.fa {
  vertical-align: baseline;
}
.navbar {
  padding: 10px 50px;
  line-height: 75px;
}
.navbar a {
  color: #000;
  text-decoration: none;
}
.navbar-left img {
  height: 75px;
}
.navbar-left .brand {
  padding-left: 10px;
}
.navbar-right {
  text-align: right;
}
.navbar-form,
.navbar-form input {
  display: inline;
  width: 200px;
}
.navbar-form input {
  margin-right: 30px;
  height: 25px;
}
.gray {
  color: #6f7277;
}
.main {
  background: #f3f6f8;
  padding: 20px 10px;
}
.listings {
  margin-top: 20px;
  text-align: center;
}
.listings a {
  color: #21bedb;
}
.toc_section {
  text-align: left;
}
.toc_section h3 {
  font-size: 120%;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.toc_section a {
  text-decoration: none !important;
}
.toc_section h3 a {
  color: #000;
  text-decoration: none;
}
.toc_section h4 {
  font-size: 90%;
  text-transform: uppercase;
}
.landing {
  text-align: center;
}
.landing h1 {
  font-weight: normal;
  margin-bottom: 20px;
}
.centersearch {
  width: 400px;
  height: 40px;
  margin: 0px auto;
}
.search-results {
  margin: 0px auto;
  margin-top: 20px;
  padding: 10px;
}
.highlight {
  background: #ff0;
}
.result-body {
  padding-left: 10px;
}
.toc_section ul {
  list-style-type: none;
  padding-left: 0px;
}
.toc_section li {
  margin-top: 5px;
}
.toggle_toc {
  color: #000;
}
.left_nav {
  background: #f3f6f8;
  padding: 2rem 2rem 2rem 4rem;
}
.left_nav #choose-app {
  height: 35px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
.left_nav a {
  color: #000;
  display: block;
  width: 100%;
  text-decoration: none;
}
.left_nav p {
  padding-bottom: 15px;
  word-wrap: break-word;
}
.left_nav ul {
  padding-left: 15px;
  margin-bottom: 10px;
}
.left_nav h4 {
  padding: 10px 7px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 100%;
  margin-bottom: 0px;
}
.left_nav h4:hover {
  background: #3bccaf;
  color: #fff;
}
.left_nav .fa-chevron-down,
.left_nav .fa-chevron-up {
  font-size: 80%;
  float: right;
}
.left_nav .current_article {
  color: #21bedb;
  font-weight: bold;
}
.left_nav .still_need_help_container {
  background: #eaeef1;
  padding: 10px;
  margin-top: 15px;
}
.left_nav .still_need_help {
  margin-top: 10px;
  text-indent: 10px;
}
.left_nav .still_need_help a {
  background: #3bccaf;
  padding: 10px 7px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.article {
  background: #fff;
  padding-bottom: 20px;
}
.article_toc {
  margin-top: 25px;
}
.article_toc h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120%;
}
.article_toc ol {
  padding-left: 0px;
  list-style-position: inside;
  color: #21bedb;
}
.article_toc ol a {
  color: #21bedb;
  text-decoration: none;
}
.breadcrumbs {
  color: #21bedb;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  background: #2e2e2e;
  padding: 67px 20px 54px;
  text-align: center;
}
footer .item {
  color: #fff;
  text-align: left;
}
footer h2 {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 26px;
}
footer ul {
  list-style-type: none;
  padding: 0px;
}
footer ul li {
  margin-bottom: 15px;
}
footer ul li a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-decoration: none !important;
}
footer ul li a i {
  display: inline-block;
  width: 30px;
  font-size: 16px;
  text-align: center;
}
footer ul li a:hover {
  color: #21bedb;
}
footer ul li a:hover.fb {
  color: #2d5194;
}
footer ul li a:hover.gp {
  color: #db4738;
}
footer ul li a:hover.tw {
  color: #5caeeb;
}
footer ul li .status.up i {
  color: #008000;
}
footer ul li .status.partial i {
  color: #ff0;
}
footer ul li .status.major i {
  color: #f00;
}
footer ul li .service-status {
  padding: 0;
}
